/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --cor-destaque: #0b7fad;
  --secondary-color: #091e3a;
  --acent-color: #0dbaff;
  --background-color: #ffffff;
  --text-color: #333333;
}

body {
  background-color: #ffffff;
  color: #081a29;
  width: 100%;
  margin: auto 0;
  overflow-x: hidden;
  font-family: 'Poppins', system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(4, 8, 14, 0.822), rgba(1, 14, 24, 0.658)),
    url("assets/img/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  max-height: 800px;
}

header {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .paq-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2rem;
    width: 100%;
    max-width: 1200px;

    .paq-logo img {
      height: 60px;
      transition: .5s;

      &:hover {
        transform: rotate(-10deg);
      }
    }

    .btn-apoie {
      position: relative;
      /* Necessário para o efeito funcionar */
      padding: 10px 3rem;
      background-color: var(--cor-destaque);
      /* Ou var(--paq-verde) */
      color: white;
      border-radius: 25px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      overflow: hidden;
      /* IMPORTANTE: Impede que a luz saia do botão */
      transition: all 0.6s ease;
      z-index: 1;

      animation: flutuar 2s ease-in-out infinite;
    }

    /* O Feixe de Luz */
    .btn-apoie::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      /* Começa escondido na esquerda */
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg,
          transparent,
          rgba(255, 255, 255, 0.4),
          transparent);
      transition: none;
      /* Sem transição na volta */
    }

    .btn-apoie:hover {
      background-color: var(--secondary-color);
      box-shadow: 0 0 15px var(--cor-destaque);
      /* Glow externo */
      animation-play-state: paused;
    }

    .btn-apoie:hover::before {
      left: 100%;
      /* Vai para a direita */
      transition: 0.5s;
      /* Velocidade do feixe */
    }

    .paq-nav {
      display: flex;
      gap: 30px;
      margin-right: -100px;

      a {
        font-weight: 600;
        transition: color 0.3s;

        &:hover {
          color: var(--acent-color);
        }
      }
    }
  }
}

.sobre-campanha {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;


  .container-sobre-campanha {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;

    .titulo-destaque {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: var(--acent-color);

      span {
        color: white;
      }
    }

    .texto-intro {
      font-size: 1.2rem;
      line-height: 1.6;
      max-width: 1000px;
      margin: 0 auto;
    }

    .cards-impacto {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 40px;

      .card {
        background: rgba(5, 34, 66, 0.253);
        border-radius: 10px;
        padding: 20px;
        width: 300px;
        box-shadow: 0 4px 6px rgba(1, 4, 15, 0.719);
        transition: transform 0.3s, box-shadow 0.3s;
        backdrop-filter: blur(3px);
        margin-bottom: 15px;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 12px rgb(1, 6, 17);
        }

        &:nth-child(2) {
          margin-top: -20px;
        }

        img {
          width: 30px;
          height: 40px;
          border-color: white;
          color: white;
        }

        h3 {
          margin-bottom: 10px;
          font-size: 2rem;
          color: var(--acent-color);
        }

        p {
          font-size: 1rem;
          line-height: 1.4;
        }
      }

      .img {
        width: 50px;
      }
    }

    .arrow {
      margin-top: 40px;
      width: 40px;
      animation: flutuar 2s ease-in-out infinite;
    }
  }
}

@media (max-width: 768px) {

  header {
    .paq-header-container {
      .paq-nav {
        display: none;
      }
    }

  }

}

@media (max-width: 1000px) {
  .sobre-campanha {
    .container-sobre-campanha {
      .titulo-destaque {
        font-size: 2rem;
      }

      .texto-intro {
        font-size: 1rem;
      }

      .cards-impacto {
        align-items: center;

        .card {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .hero-background-wrapper{  max-height: 1500px;}


.sobre-campanha {
    .container-sobre-campanha {
      .titulo-destaque {
        font-size: 2rem;
      }

      .texto-intro {
        font-size: 1rem;
      }

      .cards-impacto {
        flex-direction: column;
        align-items: center;

        .card {
          width: 90%;
        }
      }
    }
  }
}

@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
    /* Sobe 6 pixels */
  }

  100% {
    transform: translateY(0px);
  }
}