/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --cor-destaque: #0e9fff;
  --secondary-color: #1157b3;
  --acent-color: #0dbaff;
  --background-color: #ffffff;
  --text-color: #333333;
}

body {
  background-color: #ffffff;
  color: #081a29;
  width: 100%;
  margin: auto 0;
  overflow-x: hidden;
  font-family: 'Poppins', system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero-background-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(4, 8, 14, 0.918), rgba(1, 14, 24, 0.76)),
    url("assets/img/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  max-height: 900px;
}

header {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .paq-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2rem;
    width: 100%;
    max-width: 1200px;

    .paq-logo img {
      height: 60px;
      transition: .5s;

      &:hover {
        transform: rotate(-10deg);
      }
    }


    .paq-nav {
      display: flex;
      gap: 30px;

      a {
        font-weight: 600;
        transition: color 0.3s;

        &:hover {
          color: var(--acent-color);
        }
      }
    }
  }
}

.sobre-campanha {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;


  .container-sobre-campanha {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;

    .titulo-destaque {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: var(--acent-color);

      span {
        color: white;
      }
    }


    .texto-intro {
      font-size: 1.2rem;
      line-height: 1.6;
      max-width: 1000px;
      margin: 0 auto;
    }



    .arrow {
      margin-top: 40px;
      width: 40px;
      animation: flutuar 2s ease-in-out infinite;
    }
  }
}

.btn-apoie {
  background-color: #06488d;
  /* Azul padrão */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: .5s;
}

.btn-apoie:hover {
  background-color: #0478ad;
  transform: scale(1.08);
}

.pix-key-container {
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin: 15px 0;
  width: 100%;
  max-width: 300px;
  /* Ajuste conforme seu layout */
}

.pix-key-text {
  font-size: 12px;
  word-break: break-all;
  /* Isso faz o código longo quebrar linhas */
  color: #141414;
  margin: 0;
}

.btn-apoie.success {
  background-color: #20923b;
  /* Verde para indicar sucesso */
  color: white;
}


.btn-apoie-campanha {
  position: relative;
  padding: 1rem 3.5rem;
  background-color: var(--cor-destaque);
  color: white;
  border-radius: 25px;
  margin: 2rem 0;
  font-weight: bold;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s ease;
  z-index: 1;

  animation: flutuar 2s ease-in-out infinite;
}

.btn-apoie-campanha::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  /* Começa escondido na esquerda */
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
  transition: none;
  /* Sem transição na volta */
}

.btn-apoie-campanha:hover {
  background-color: var(--secondary-color);
  box-shadow: 0 0 15px var(--cor-destaque);
  /* Glow externo */
  animation-play-state: paused;
}

.btn-apoie-campanha:hover::before {
  left: 100%;
  /* Vai para a direita */
  transition: 0.5s;
  /* Velocidade do feixe */
}

.pix-display {
  background-color: #00b7ff;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 20px;

  &>img {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
  }
}

.sobre-pix-day {
  padding: 80px 20px;
  background-color: #ffffff;
  /* Ou uma cor que contraste com o hero */
  display: flex;
  justify-content: center;
}

.container-pix-day {
  max-width: 800px;
  text-align: center;
}

.titulo-secao {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.texto-informativo p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.frase-efeito {
  font-weight: bold;
  font-size: 1.5rem !important;
  color: #00ff00;
  /* Use a cor principal do PAQ aqui */
  margin-top: 30px;
}

/*Medidor da meta*/
.meta-container {
  background: #00171f;
  padding: 35px;
  color: white;
  border-radius: 15px;
  margin-top: 20px;
}

.meta-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.meta-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.current-val {
  font-size: 2rem;
  font-weight: bold;
}

.goal-val {
  color: #666;
  margin-left: 5px;
}

.progress-bar-bg {
  background: #111;
  height: 45px;
  border: 1px solid #333;
  position: relative;
  overflow: hidden;
}

.progress-bar-fill {
  background: repeating-linear-gradient(45deg,
      #00ccff,
      #00ccff 10px,
      #00ffff 10px,
      #00ccff 20px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: width 1s ease-in-out;
}

.percentage-label {
  background: #000;
  padding: 2px 8px;
  margin-right: 10px;
  font-weight: bold;
  border: 1px solid #fff;
}

@media (max-width: 768px) {

  header {
    .paq-header-container {

      justify-content: center;
      padding-bottom: 0;

      .paq-nav {
        display: none;

      }
    }

  }

  .meta-container {
    padding: 20px;
  }

  .meta-title {
    font-size: 1rem;
    font-weight: bold;
  }

  .current-val {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .goal-val {
    color: #666;
    margin-left: 5px;
  }

  .percentage-label {
  padding: 2px 8px;
  margin-right: 00px;
  margin-left: 20px;
  
}

}

@media (max-width: 1000px) {
  .sobre-campanha {
    .container-sobre-campanha {
      .titulo-destaque {
        font-size: 2rem;
      }

      .texto-intro {
        font-size: 1rem;
      }

      .cards-impacto {
        align-items: center;

        .card {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .hero-background-wrapper {
    max-height: 1500px;
  }


  .sobre-campanha {
    .container-sobre-campanha {
      .titulo-destaque {
        font-size: 2rem;
      }

      .texto-intro {
        font-size: 1rem;
      }

      .cards-impacto {
        flex-direction: column;
        align-items: center;

        .card {
          width: 90%;
        }
      }
    }
  }
}

@keyframes flutuar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
    /* Sobe 6 pixels */
  }

  100% {
    transform: translateY(0px);
  }
}